<h3>ng-style works!</h3>

<h3>Airlines Passengers</h3>

<ul>
  <li class="container" *ngFor="let passenger of passengers; let i = index">
    <span
      class="status"
      [style.backgroundColor]="passenger.checkedIn ? '#2ecc71' : '#c0392b'"
    ></span>
    <p>{{ i }}:</p>
    <p>{{ passenger.fullname }}</p>
  </li>
</ul>

<h3>Another Way</h3>

<ul>
  <li class="container" *ngFor="let passenger of passengers; let i = index">
    <span
      class="status"
      [ngStyle]="{
        backgroundColor: passenger.checkedIn ? '#2ecc71' : '#c0392b'
      }"
    ></span>
    <p>{{ i }}:</p>
    <p>{{ passenger.fullname }}</p>
  </li>
</ul>
